<section class="psychic-pricing">
  <article>
    <h1>Per minute</h1>
    <%= image_tag "psychics/price_icon.png" %>
    <div class="label">
      <span>$55</span>
    </div>
  </article>
  <article>
    <h1>Current Call</h1>
    <%= image_tag "psychics/current_call_icon.png" %>
    <div class="label">
      <span>0 <small>MIN</small></span>
    </div>
  </article>
  <article>
    <h1>Est. Wait Time</h1>
    <%= image_tag "psychics/clock_icon.png" %>
    <div class="label">
      <span>100 <small>MIN</small></span>
    </div>
  </article>
  <article>
    <h1>People Waiting</h1>
    <%= image_tag "psychics/waiting_icon.png" %>
    <div class="label">
      <span>0</span>
    </div>
  </article>
  <article>
    <h1>Call Back Time Set For</h1>
    <%= image_tag "psychics/clock_icon.png" %>
    <div class="label">
      <span>4:30 <small>PM</small></span>
    </div>
  </article>
</section>
