<article class="psychic-profile">
  <div class="psychic-details-avatar">
    <%= image_tag "psychics/avatar_sample.png" %>
    <% if current_user.client %>
      <% if current_user.client.favorite?(@psychic) %>
        <%= link_to image_tag("psychics/fav_button.png"), remove_favorite_client_path(psychic_id: @psychic.id), class: "fav_button" %>
      <% else %>
        <%= link_to image_tag("psychics/fav_button.png"), make_favorite_client_path(psychic_id: @psychic.id), class: "fav_button" %>
      <% end %>
    <% end %>
  </div>

  <div class="psychic-profile">
    <h1><%= @psychic.alias_name %></h1>
    <p>
      <%= @psychic.about %>
    </p>

    <% if @psychic.specialties.present? %>
      <p class="psychic-expert">
        Expert In: <%= @psychic.specialties.titleize %>
      </p>
    <% end %>

    <p class="psychic-ext">
      Ext: <%= @psychic.extension %>
    </p>

    <div class="psychic_state">
      <% if @psychic.available? %>
        <%= image_tag("psychics/im_available.png") %>
      <% else %>
        <%= image_tag("psychics/im_on_a_call.png") if @psychic.on_a_call? %>
        <%= link_to image_tag("psychics/call_me_back.png"), new_callbacks_path(psychic_id: @psychic.id) %>
      <% end %>
    </div>
  </div>
</article>