<section class="psychic-similar">
  <h1>Psychics Similar to <%= @psychic.first_name %>, <b>Available and Ready!</b></h1>

  <% Psychic.first(3).each do |psychic| %>
    <article>
      <header>
        <%= image_tag "psychics/avatar_sample.png" %>
      </header>

      <div class="content">
        <header>
          <div class="psychic-similar-left">
            <h1><%= psychic.first_name %></h1>
            <%= render "psychics/about/stars", stars: psychic.rating, star_type: "small_green" %>
            <span class="psychics_reviews_amount">(<%= psychic.reviews.count %>)</span>
          </div>
          <div class="psychic-similar-right">
            <div class="psychic-similar-price">
              $<%= psychic.price %><small>Min</small>
            </div>
            <div class="psychic-similar-ext">
              Ext: <span><%= psychic.extension %></span>
            </div>
          </div>
        </header>

        <div class="body">
          <h1>
            <% if psychic.sign %>
              I’m a <%= psychic.sign.name %>!
            <% end %>
            I Specialize in:
          </h1>

          <p>
            <%= psychic.specialties %>
          </p>

          <%= link_to "Read more", about_psychic_path(psychic) %>
        </div>

        <footer>
          <span class="<%= psychic.current_state %>">
            <%= psychic_state(psychic) %>
          </span>
        </footer>
      </div>
    </article>

  <% end %>
</section>
