<div class="row-fluid">
  <div class="span12">
    <h3>Edit Survey</h3>
  </div>
  <div class="span12">
    <ul class="nav nav-tabs" id="tabs">
      <li class="active" data-toggle="tab"><%= link_to "Survey", "#form" %></li>
      <li data-toggle="tab"><%= link_to "Responses (#{@survey.call_surveys.count})", "#responses" %></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="form">
        <%= render "form", object: @survey %>
      </div>

      <div class="tab-pane" id="responses">
        <% @survey.call_surveys.each do |cs| %>
          <table class="table table-bordered table-hover">
            <tr style="background: #eee;">
              <td colspan=2>
                <b><%= link_to cs.client.full_name, edit_admin_client_path(cs.client) %></b>
                <%= format_date cs.created_at %>
              </td>
            </tr>
            <%= render cs.answers %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
