<h2>Sign up</h2>

<% create_as = params[:user].try(:[], :create_as) || "client" %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form form-horizontal', :autocomplete => 'off' }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :create_as, value: create_as %>

  <%= render create_as, f: f %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
