<% @thank_you_modal = @client.favorite_psychics.any? ? "psychics_modal" : "thank_you_modal" %>

<div id="select_payment_method_modal" class="modal large">
  <nav>
    <ul>
      <li data-panel="paypal_panel">Pay via Paypal</li>
      <li data-panel="credit_cards_panel" class="tab_selected">Pay via Credit Card</li>
    </ul>
  </nav>

  <header>
    <h1><span class="package-credits"></span><small>CREDITS</small></h1>
    <span class="normal">for</span>
    <h1><small>$</small><span class="package-price"></span></h1>
  </header>

  <div class="modal_panel credit_cards_panel">
    <%= form_for :order, url: orders_path, remote: true do |f| %>

    <% if @client.cards.any? %>
      <ul class="credit_cards">
        <%= render "clients/modals/credit_card", card: @client.cards.first, select: true %>
      </ul>
    <% end %>

    <div class="credit_card_payment_errors">
    </div>

    <footer>
        <%= f.hidden_field :package_id %>
        <%= image_submit_tag("modal/use_selected_cc_btn.png") %>
        <%= link_to image_tag("modal/use_new_cc_btn.png"), "#", "data-panel" => "new_credit_card_panel" %>
      </footer>
    <% end %>
  </div>

  <div class="modal_panel paypal_panel">
    <footer>
      <%= form_for :order, url: paypal_orders_path, remote: true do |f| %>
        <%= f.hidden_field :package_id %>
        <%= image_submit_tag("modal/proceed_to_checkout_btn.png") %>
      <% end %>
    </footer>
  </div>

  <div class="modal_panel new_credit_card_panel">
    <div class="modal-body">
      <%= form_for :order, remote: true, url: orders_path, authenticity_token: true do |f| %>
        <div class="row">
          <div class="field">
            <%= f.label :card_number, "Credit Card#" %>
            <%= f.text_field :card_number, placeholder: "1234 1324 1234 1234", maxlength: 16,data: { stripe: "number" } %>
            <i class="card_type"><%= image_tag "modal/visa.png" %></i>
          </div>

          <div class="field">
            <div class="field small">
              <%= f.label :card_exp_month, "Expires" %>
              <%= f.text_field :card_exp_month, placeholder: "MM", maxlength: 2, data: { stripe:  "exp-month" } %>
              <%= f.text_field :card_exp_year, placeholder: "YYYY", maxlength: 4, data: { stripe: "exp-year" } %>
            </div>

            <div class="field medium">
              <%= f.label :card_cvc, "CVV / CVC" %>
              <%= f.text_field :card_cvc, data: { stripe: "cvc" } %>
            </div>
          </div>

          <div id="card-number-validation-error" class="validation-error"></div>
          <div id="card-exp-date-validation-error" class="validation-error"></div>
          <div id="card-cvc-validation-error" class="validation-error"></div>
          <div class="payment-errors"></div>
        </div>

        <footer>
          <%= f.hidden_field :package_id %>
          <%= link_to image_tag("modal/use_card_on_file.png"), "#", "data-panel" => "credit_cards_panel"  %>
          <%= image_submit_tag "modal/complete_transaction.png" %>
        </footer>
      <% end %>
    </div>

  </div>
</div>
