<% @thank_you_modal = @client.favorite_psychics.any? ? "psychics_modal" : "thank_you_modal" %>

<div id="select_payment_method_modal" class="modal large">
  <nav>
    <ul>
      <li class="paypal_tab">Pay via Paypal</li>
      <li class="credit_card_tab tab_selected">Pay via Credit Card</li>
    </ul>
  </nav>

  <header>
    <h1><span class="package-credits"></span><small>CREDITS</small></h1>
    <span class="normal">for</span>
    <h1><small>$</small><span class="package-price"></span></h1>
  </header>

  <div class="modal_panel credit_cards_panel">
    <ul class="credit_cards"></ul>
    <ul class="credit_cards">
      <%= render "clients/modals/credit_card", select: true %>
    </ul>
    <ul class="credit_cards"></ul>

    <footer>
      <%= link_to image_tag("modal/use_selected_cc_btn.png"), "#", class: "modal_link", "data-modal-id" => @thank_you_modal %>
      <%= link_to image_tag("modal/use_new_cc_btn.png"), "#", class: "new_credit_card_link" %>
    </footer>
  </div>

  <div class="modal_panel paypal_panel">
    <footer>
      <%= link_to image_tag("modal/proceed_to_checkout_btn.png"), "#", class: "modal_link", "data-modal-id" => @thank_you_modal %>
    </footer>
  </div>

  <div class="modal_panel new_credit_card_panel">
    <div class="modal-body">
      <%= render "clients/modals/purchase/credit_card_form", new_card: true %>
    </div>

    <footer>
      <%= link_to image_tag("modal/use_card_on_file.png"), "#", class: "use_card_on_file_link"  %>
      <%= link_to image_tag("modal/complete_transaction.png"), "#", class: "modal_link", "data-modal-id" => @thank_you_modal %>
    </footer>
  </div>
</div>
