<div class="row-fluid">
  <div class="span12">
    <h3>Pending Invoices</h3>

    <% if @invoices.any? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Number</th>
            <th>Psychic</th>
            <th>Period</th>
            <th>Created</th>
            <th>Total</th>
            <th>Paid?</th>
          </tr>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| %>
            <tr>
              <td><%= link_to invoice.number, psychic_invoice_path(invoice) %></td>
              <td><%= invoice.psychic.full_name %></td>
              <td>
                <%=l invoice.start_date, format: :short %> to
                <%=l invoice.end_date, format: :short %>
              </td>
              <td><%=l invoice.created_at, format: :short %></td>
              <td class="right"><%= number_to_currency invoice.total %></td>
              <td>
                <% if invoice.paid? %>
                  <i class="icon-ok"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @invoices %>

    <% else %>
      <div class="blank-state">
        No invoices are pending payment.
      </div>
    <% end %>
  </div>
</div>
