<% if target.reviews.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Client</th>
        <th>Rating</th>
        <th>Review</th>
        <th>Date/time</th>
      </tr>
    </thead>
    <tbody>
      <% target.reviews.each do |review| %>
        <tr>
          <td>
            <a href="#details_<%= review.id %>" role="button" data-toggle="modal"><%= review.id %></a>
          </td>
          <td><%= link_to review.client.full_name, edit_admin_client_path(review.client) %></td>
          <td><% review.rating.times do %><i class="icon-heart"></i><% end %></td>
          <td style="color: #666; font-style: italic;"><%= truncate(review.text, length: 70) %></td>
          <td><%= format_datetime review.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% target.reviews.each do |review| %>
    <div id="details_<%= review.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Survey details</h3>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-hover">
          <tr style="background: #eee;">
            <td>
              <div class="pull-right">
                <%= format_datetime review.created_at %>
              </div>
              Review from
              <b><%= link_to review.client.full_name, edit_admin_client_path(review.client) %></b>
            </td>
          </tr>
          <tr>
            <td>
              <pre><%= review.text %></pre>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  <% end %>

<% else %>
  <div class="blank-state">
    No reviews for this <%= target.class.name.humanize.downcase %>.
  </div>
<% end %>
