<div class="row-fluid">
  <div class="span12">
    <h3>FAQs</h3>

    <% if @faqs.any? %>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Question</th>
            <th>Answer</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <% @faqs.each do |faq| %>
            <tr>
              <td>
                <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_faq_path(faq) %>
                <%= link_to '<i class="icon-remove"></i>'.html_safe, [:admin, faq], data: {confirm: "Are you sure?" }, :method => "delete" %>
              </td>
              <td><%= link_to faq.question, edit_admin_faq_path(faq) %></td>
              <td><%= truncate(faq.answer, length: 70) %></td>
              <td><%=l faq.created_at, format: :short %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="blank-state">
        No FAQs added yet.
        <%= link_to "Add one now.", new_admin_faq_path %>
      </div>
    <% end %>
    <%= link_to "Add new FAQ", new_admin_faq_path, class: "btn btn-small" %>
  </div>
</div>
