<div class="row-fluid">
  <div class="span8">
    <h3>Manager Directors</h3>

    <% if @manager_directors.any? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <% @manager_directors.each do |md| %>
            <tr>
              <td>
                <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_website_admin_path(md) %>
                <%= link_to '<i class="icon-remove"></i>'.html_safe, [:admin, md], data: {confirm: "Are you sure?" }, :method => "delete" %>
              </td>
              <td><%= link_to md.username, edit_admin_website_admin_path(md) %></td>
              <td><%= md.full_name %></td>
              <td><%= md.email %></td>
              <td><%=l md.created_at, format: :short %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="blank-state">
        No manage directors added yet.
        <%= link_to "Add one now.", new_admin_manager_director_path %>
      </div>
    <% end %>
    <%= link_to "Add new manager director", new_admin_manager_director_path, class: "btn btn-small" %>
  </div>
</div>
