<% last ||= false %>
<article class="psychic<% if last %> last<% end %>" data-psychic-id="<%= psychic.id %>">
  <header class="money">
    <%= image_tag "psychics/avatar_sample.png" %>
  </header>

  <div class="content">
    <header>
      <div class="psychic-left">
        <h1>
          <%= link_to psychic.alias_name, about_psychic_path(psychic) %>
        </h1>
        <%= render "psychics/about/stars", stars: psychic.rating, star_type: "small_green" %>
        <span class="psychics_reviews_amount">(<%= psychic.reviews.count %>)</span>
      </div>
      <div class="psychic-right">
        <div class="psychic-price">
          $<%= psychic.price %><small>Min</small>
        </div>
        <div class="psychic-ext">
          Ext: <span><%= psychic.extension %></span>
        </div>
      </div>
    </header>

    <div class="body">
      <h1>
        <% if psychic.sign %>
          I’m a <%= psychic.sign.name %>!
        <% end %>
        I Specialize in:
      </h1>

      <p>
        <%= psychic.specialties %>
      </p>

      <%= link_to "Read more", about_psychic_path(psychic) %>
    </div>

    <footer>
      <span class="psychic-state <%= psychic.current_state %>">
        <%= psychic_state(psychic) %>
      </span>
    </footer>

    <% if current_user and current_user.client.favorite?(psychic) %>
      <div class="psychic-card-action psychic-card-favorite-on"></div>
    <% else %>
      <div class="psychic-card-action psychic-card-favorite-off"></div>
    <% end %>

    <div class="psychic-card-action psychic-card-phone"></div>

    <div class="psychic-card-action psychic-card-reviews-off"></div>
    <% if psychic.reviews.any? %>
      <div class="psychic-card-action psychic-card-reviews">
        <span><%= psychic.reviews.count %></span>
      </div>
    <% end %>
  </div>
</article>
