<section id="psychic-details">
  <div class="container_12">
    <article class="psychic-profile">
      <div class="psychic-details-avatar">
        <%= image_tag "psychics/avatar_sample.png" %>
        <%= link_to image_tag("psychics/fav_button.png"), "#", class: "fav_button" %>
      </div>

      <div class="psychic-profile">
        <h1><%= @psychic.alias_name %></h1>
        <p>
          I’ve been doing readings and predictions for the last 20 years. My passion is helping others who have questions about life, love and relationships.
        </p>

        <p class="psychic-expert">
          <strong>Expert In:</strong> Love, Jobs, Relationships  
        </p>

        <p class="psychic-ext">
          <strong>Ext:</strong> 5643
        </p>

        <%= link_to image_tag("psychics/im_available.png"), "#" %>
      </div>
    </article>

    <p>============</p>


    <h3>
      <%= @psychic.alias_name %>
      <span>| Ext. <%= @psychic.extension %></span>
    </h3>

    <div class="specialties">
      <% if @psychic.specialties.present? %>
        <b>Expert in:</b>
        <%= @psychic.specialties.titleize %>
      <% end %>
    </div>

    <div class="price">
      <% if @psychic.price.present? %>
        <b>Price (Per Minute):</b>
        <%= number_to_currency @psychic.price %>
      <% end %>
    </div>

    <div class="ratings">
      <% if @psychic.rating %>
        <%= rating_for @psychic, empty_icon: "icon-star-empty" %>
      <% end %>
    </div>

    <div class="about">
      <div class="title">About <%= @psychic.alias_name %></div>
      <div class="body"><%= @psychic.about %></div>
    </div>

    <% if @psychic.reviews.any? %>
      <% @psychic.reviews.each_slice(3) do |reviews| %>
        <div class="reviews-title">
            <h4>Other Customers Testimonials</h4>
        </div>

        <div class="reviews">
          <% reviews.each do |review| %>
            <div class="review">
              <div class="author">
                <%= review.client.full_name %>,
                <%= review.created_at.strftime("%B %-d, %Y") %>
              </div>

              <div class="text">
                <%= review.text %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @psychic.featured_review %>
        <div class="reviews">
          <div class="featured-review">

            <div class="text">
              <p><span><%= @psychic.featured_review.text %></span></p>
            </div>

            <div class="author">
              <%= @psychic.featured_review.client.full_name %>,
              <%= @psychic.featured_review.created_at.strftime("%B %-d, %Y") %>
            </div>

            <div class="rating">
              <% @psychic.featured_review.rating.times do %>
                <i class="icon-heart"></i>
              <% end %>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>
</section>