<div class="row-fluid">
  <div class="span12">
    <h3>Psychics</h3>

    <% if @psychics.any? %>
      <% if params[:q].present? %>
        <div class="search-summary">
          <%= @psychics.size %> psychic(s) matched <b><%= params[:q] %></b>.
        </div>
      <% end %>

      <% @psychics.each_slice(3).each do |psychics| %>
        <div class="row psychics">
          <% psychics.each do |psychic| %>
            <div class="span4 psychic">
              <div class="extension pull-right">
                Ext.<br>
                <b><%= psychic.extension %></b>
              </div>

              <div class="name">
                <%= psychic.first_name %><br>
                <%= psychic.last_name %>
              </div>

              <div class="rating">
                <% if psychic.rating %>
                  <% psychic.rating.to_i.times do %>
                    <i class="icon-star"></i>
                  <% end %>
                  <% psychic.rating.to_i.upto(4) do %>
                    <i class="icon-star white"></i>
                  <% end %>
                  (<%= psychic.reviews.count %>)
                <% end %>
              </div>

              <div class="about">
                <%= psychic.about %>
              </div>

              <div class="actions">
                <% if @client.favorite?(psychic) %>
                  <%= link_to '<i class="icon-heart favorited"></i>'.html_safe, remove_favorite_client_path(psychic_id: psychic.id) %>
                <% else %>
                  <%= link_to '<i class="icon-heart-empty favorite"></i>'.html_safe, make_favorite_client_path(psychic_id: psychic.id) %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="blank-state">
        No psychics matched <b><%= params[:q] %></b>.
      </div>
    <% end %>

    <%= link_to "Back", dashboard_path, class: "btn" %>
  </div>
</div>
