<div class="row-fluid">
  <div class="span6">
    <h3>Account info</h3>

    <%= form_for @psychic do |f| %>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>Your status</td>
            <td>
              <% if @psychic.available? %>
                Available
              <% else %>
                Unavailable
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Your Extension</td>
            <td><%= @psychic.extension %></td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>
              <div class="input-append">
                <%= f.text_field :phone,
                      class: "input-small",
                      style: "width: 120px",
                      autofocus: !@psychic.phone.present?,
                      data: { mask: t('masks.phone') } %>

                <%= f.submit "Save", class: "btn" %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="actions">
        <% if @psychic.available? %>
          <%= link_to "Stop working", unavailable_psychic_path, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Start working", available_psychic_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h3>This Week Schedule</h3>

    <% if @psychic.weekly_schedule.any? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Start</th>
            <th>End</th>
          </tr>
        </thead>
        <tbody>
          <% @psychic.weekly_schedule.group_by(&:date).each_pair do |date, schedules| %>
            <tr>
              <td rowspan="<%= schedules.size %>">
                <%=l date, format: :schedule %>
              </td>
              <% schedules.each_with_index do |schedule, i| %>
                <% if i > 0 %>
                  <tr>
                    <td><%=l schedule.start_time, format: :schedule %></td>
                    <td><%=l schedule.end_time, format: :schedule %></td>
                  </tr>
                <% else %>
                  <td><%=l schedule.start_time, format: :schedule %></td>
                  <td><%=l schedule.end_time, format: :schedule %></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="blank-state">
        No entries for this week's schedule.
      </div>
    <% end %>

    <div class="actions">
      <%= link_to "Manage Schedule", psychic_schedules_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h3>Call History</h3>

    <% if @psychic.calls.any? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Date and time</th>
            <th>From</th>
            <th>Client</th>
            <th>Duration</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @psychic.calls.processed.reverse.each do |call| %>
            <tr>
              <td><%= call.parsed_start_time %></td>
              <td><%= call.formatted_number %></td>
              <td><%= call.client.full_name %></td>
              <td class="right">
                <%= call.formatted_duration %>
              </td>
              <td class="right">
                <%= number_to_currency call.cost %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="blank-state">
        No calls logged yet.
      </div>
    <% end %>
  </div>
</div>
