<section class="profile-container small_container">
  <div class="modal_list">
    <%= render "psychics/modals/edit_profile" %>
  </div>

  <div class="profile-avatar profile-item">
    <ul>
      <li class="avatar">
        <%= avatar_image_tag(@psychic.avatar_id) %>
      </li>
      <li>
        <%= form_for(@psychic, url: avatar_psychic_path(@psychic), method: :patch, remote: true, html: { :class => "upload-picture", :'data-type' => 'json' }) do |f| %>

          <div class="upload">
            <span>Edit Your Picture</span>
            <%= f.cl_image_upload :avatar_id %>
          </div>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="profile-psychic profile-info profile-item">
    <h2>
      Hello, <span class="name"><%= @psychic.first_name %></span>!
    </h2>

    <p class="alias">
      <span>Alias:</span> <%= @psychic.alias_name %>
    </p>

    <div class="status status-<%= @psychic.current_state %>">
      <% if @psychic.available? %>
        <%= link_to "", unavailable_psychic_path, class: "status-toggle" %>
      <% else %>
        <%= link_to "", available_psychic_path, class: "status-toggle" %>
      <% end %>
      Status: <span><%= @psychic.current_state.capitalize %></span>
    </div>

    <h3>Your Number</h3>

    <p class="your-number">
      <%= @psychic.phone %> <span class="extension">Ext:</span> <%= @psychic.extension %>
    </p>

    <p class="edit-profile">
      <%= link_to "Edit Profile", "#", class: "modal_link", "data-modal-id" => "psychic_edit_profile_modal" %>
    </p>
  </div>

  <div class="profile-current-rate profile-item">
    <%= image_tag("psychic-tier-#{@psychic.current_tier_name.downcase}.png", class: "psychic-profile-tier-image") %>

    <p>
      Your Current Rate Per Min Is
      <span class="rate"><%= number_to_currency @psychic.price %></span>
      Per Minute
    </p>
  </div>
</section>

<section class="actions-container small_container">
  <h2 class="section-title">My Stats</h2>

  <div class="total-calls psychic-action-item action-item first">
    <h2>Total Calls This Paid Period</h2>

    <div class="total-calls-badge badge">
      <%= @psychic.total_calls_in_period %>
    </div>
  </div>

  <div class="total-minutes psychic-action-item action-item">
    <h2>Total Minutes Talked</h2>

    <div class="psychic-badge badge">
      <%= @psychic.total_minutes_in_period %>
    </div>
  </div>

  <div class="average-minutes psychic-action-item action-item">
    <h2>Average Minutes Per Call</h2>

    <div class="psychic-badge badge">
      <%= @psychic.avg_minutes_in_period %>
    </div>
  </div>

  <div class="total-pay-percentage psychic-action-item action-item last">
    <h2>Total Pay Percentage</h2>

    <div class="psychic-badge badge">
      <%= @psychic.payout_percentage_in_period %>%
    </div>
  </div>
</section>

<section class="about-psychic-container small_container">
  <div class="my-bio about-item">
    <h2>My Bio</h2>

    <p>
      <%= @psychic.about %>
    </p>
  </div>

  <div class="my-expertises about-item">
    <h2>My Areas of Expertise</h2>

    <div class="area">
      <h3>Tools</h3>

      <ul>
        <% @psychic.tools_enum.each do |tool| %>
          <li><%= tool %></li>
        <% end %>
      </ul>
    </div>

    <div class="area">
      <h3>Specialties</h3>

      <ul>
        <% @psychic.specialties_enum.each do |specialty| %>
          <li class="<%= speciality_class(@psychic, specialty) %>"><%= specialty %></li>
        <% end %>
      </ul>
    </div>

    <div class="area">
      <h3>Style</h3>

      <ul>
        <% @psychic.styles_enum.each do |style| %>
          <li><%= style %></li>
        <% end %>
      </ul>
    </div>

    <div class="area">
      <h3>Abilities</h3>

      <ul>
        <% @psychic.abilities_enum.each do |ability| %>
          <li><%= ability %></li>
        <% end %>
      </ul>
    </div>
  </div>
</section>

<section class="psychic-call-history-container small_container">
  <h2 class="section-title">My Call History</h2>

  <table class="records">
    <thead>
      <tr>
        <th style="width: 130px;">Call ID</th>
        <th>Date & Time</th>
        <th>Customer Name</th>
        <th style="width: 130px;">Call Duration</th>
        <th style="width: 100px;">Review</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>1772</td>
        <td>July, 25, 2013 9:10PM</td>
        <td>Damon Huynh</td>
        <td>32 Mins</td>
        <td>Yes</td>
      </tr>

      <tr>
        <td>4699</td>
        <td>August, 13, 2013 6:45PM</td>
        <td>Sthephanie Bartholomew</td>
        <td>47 Mins</td>
        <td>Yes</td>
      </tr>

      <tr>
        <td>3267</td>
        <td>August, 28, 2013 8:00PM</td>
        <td>Jennifer Jones</td>
        <td>32 Mins</td>
        <td>No</td>
      </tr>

      <tr>
        <td>2356</td>
        <td>September, 3, 2013 7:23PM</td>
        <td>Sterling Hawkins</td>
        <td>136 Mins</td>
        <td>Yes</td>
      </tr>

      <tr>
        <td>5352</td>
        <td>October, 1, 2013 5:41PM</td>
        <td>Jane Doe</td>
        <td>103 Mins</td>
        <td>No</td>
      </tr>
    </tbody>
  </table>
</section>

<section class="small_container">
  <%= render "psychics/shared/schedule" %>
</section>

<section class="psychic-schedule-container small_container">
  <h2 class="section-title">My Upcoming Weekly Schedule</span></h2>

  <table class="records">
    <thead>
      <tr>
        <th style="width: 250px;">Date</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="upcoming-date">
          <%= link_to "Thu, 27 Sep", "#" %>
        </td>
        <td>
          <div class="upcoming-time">
            <span class="time">01:00 AM</span>
            <%= link_to(image_tag("timer.png", class: "edit-time"), "#") %>
            <div class="popover">
              <div class="popover-content">
                <input type="text" placeholder="HH">
                <input type="text" placeholder="MM">
                <input type="checkbox" name="toggle" id="toggle">
                <label for="toggle">PM</label>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="upcoming-time">
            <span class="time">09:00 AM</span>
            <%= link_to(image_tag("timer.png", class: "edit-time"), "#") %>
          </div>
        </td>
      </tr>

      <tr>
        <td class="upcoming-date">
          <%= link_to "Fri, 28 Sep", "#" %>
        </td>
        <td>
          <div class="upcoming-time">
            <span class="time">01:00 AM</span>
            <%= link_to(image_tag("timer.png", class: "edit-time"), "#") %>
          </div>
        </td>
        <td>
          <div class="upcoming-time">
            <span class="time">09:00 AM</span>
            <%= link_to(image_tag("timer.png", class: "edit-time"), "#") %>
          </div>
        </td>
      </tr>

      <tr>
        <td class="upcoming-date">
          <%= link_to "Sat, 29 Sep", "#" %>
        </td>
        <td>
          <div class="upcoming-time">
            <span class="time">01:00 AM</span>
            <%= link_to(image_tag("timer.png", class: "edit-time"), "#") %>
          </div>
        </td>
        <td>
          <div class="upcoming-time">
            <span class="time">09:00 AM</span>
            <%= link_to(image_tag("timer.png", class: "edit-time"), "#") %>
          </div>
        </td>
      </tr>

      <tr>
        <td class="upcoming-date">
          <%= link_to "Sun, 30 Sep", "#" %>
        </td>
        <td>
          <div class="upcoming-time">
            <span class="time">01:00 AM</span>
            <%= link_to(image_tag("timer.png", class: "edit-time"), "#") %>
          </div>
        </td>
        <td>
          <div class="upcoming-time">
            <span class="time">09:00 AM</span>
            <%= link_to(image_tag("timer.png", class: "edit-time"), "#") %>
          </div>
        </td>
      </tr>

      <tr>
        <td class="upcoming-date">
          <%= link_to "Mon, 01 Oct", "#" %>
        </td>
        <td>
          <div class="upcoming-time">
            <span class="time">01:00 AM</span>
            <%= link_to(image_tag("timer.png", class: "edit-time"), "#") %>
          </div>
        </td>
        <td>
          <div class="upcoming-time">
            <span class="time">09:00 AM</span>
            <%= link_to(image_tag("timer.png", class: "edit-time"), "#") %>
          </div>
        </td>
      </tr>

      <tr>
        <td class="upcoming-date">
          <%= link_to "Tue, 02 Oct", "#" %>
        </td>
        <td>
          <div class="upcoming-time">
            <span class="time">01:00 AM</span>
            <%= link_to(image_tag("timer.png", class: "edit-time"), "#") %>
          </div>
        </td>
        <td>
          <div class="upcoming-time">
            <span class="time">09:00 AM</span>
            <%= link_to(image_tag("timer.png", class: "edit-time"), "#") %>
          </div>
        </td>
      </tr>

      <tr>
        <td class="upcoming-date">
          <%= link_to "Wed, 03 Oct", "#" %>
        </td>
        <td>
          <div class="upcoming-time">
            <span class="time">01:00 AM</span>
            <%= link_to(image_tag("timer.png", class: "edit-time"), "#") %>
          </div>
        </td>
        <td>
          <div class="upcoming-time">
            <span class="time">09:00 AM</span>
            <%= link_to(image_tag("timer.png", class: "edit-time"), "#") %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="psychic-invoices-container small_container">
  <h2 class="section-title">My Pending Invoices</h2>

  <% if @psychic.pending_invoices.any? %>
    <table class="records">
      <thead>
        <tr>
          <th>Invoice ID</th>
          <th>Period</th>
          <th>Created</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
        <% @psychic.pending_invoices.each do |inv| %>
          <tr>
            <td>#<%= inv.number %></td>
            <td><%= inv.period %></td>
            <td><%=l inv.created_at %></td>
            <td><%= number_to_currency inv.total %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="psychic-blank">
      No pending invoices.
    </div>
  <% end %>
</section>

<section class="psychic-invoices-container small_container">
  <h2 class="section-title">My Paid Invoices</h2>

  <% if @psychic.paid_invoices.any? %>
    <table class="records">
      <thead>
        <tr>
          <th>Invoice ID</th>
          <th>Period</th>
          <th>Created</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
        <% @psychic.paid_invoices.each do |inv| %>
          <tr>
            <td>#<%= inv.number %></td>
            <td><%= inv.period %></td>
            <td><%=l inv.created_at %></td>
            <td><%= number_to_currency inv.total %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="psychic-blank">
      No paid invoices.
    </div>
  <% end %>
</section>

<section class="psychic-reviews-container small_container">
  <div class="my-reviews">
    <h2 class="section-title">My Reviews:</h2>

    <div class="my-reviews-badge">
      <%= @psychic.reviews.count %>
    </div>
  </div>

  <% if @psychic.reviews.any? %>
    <table class="records">
      <thead>
        <tr>
          <th style="width: 50px;"></th>
          <th style="width: 50px;">ID</th>
          <th>Client</th>
          <th>Rating</th>
          <th>Date & Time</th>
          <th>Featured</th>
        </tr>
      </thead>

      <tbody>
        <% @psychic.reviews.each do |review| %>
          <tr>
            <td>
              <%= link_to(image_tag("add-gray.png"), "#") %>
            </td>
            <td><%= review.id %></td>
            <td><%= review.client.full_name %></td>
            <td>
              <i class="star star-<%= review.rating %>"></i>
            </td>
            <td>
              <span class="review-date"><%=l review.created_at %></span>
            </td>
            <td>
              <% if review.featured? %>
                <%= image_tag "featured.png", alt: "Featured" %>
              <% else %>
                &nbsp;
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="psychic-blank">
      No reviews yet.
    </div>
  <% end %>
</section>
