<td>
  <%= f.hidden_field :date, class: "date" %>

  <div class="upcoming-time">
    <span class="time">01:00 AM</span>
    <%= link_to(image_tag("timer.png", class: "edit-time"), "#") %>
  </div>
</td>
<td>
  <div class="upcoming-time">
    <span class="time">01:00 AM</span>
    <%= link_to(image_tag("timer.png", class: "edit-time"), "#") %>
  </div>

  <%= f.hidden_field(:_destroy, class: "delete") %>
  <%= link_to(image_tag("remove.png"), "#", class: "remove-schedule") %>
</td>
