<section class="profile-container small_container">
  <div class="profile-avatar profile-item">
    <ul>
      <li>
        <%= link_to(image_tag("avatar.png", class: "avatar"), "#") %>
      </li>
      <li>
        <a class="tooltip" href="#">
          <span>Edit Your Picture</span>
          <%= image_tag "customer-edit-profile.png", alt: "Edit Your Picture" %>
        </a>
      </li>
    </ul>
  </div>

  <div class="profile-daily-fortune profile-info profile-item">
    <h2>Hello, <span class="name">Stephanie</span>!</h2>

    <p class="title">Daily Fortune!</p>

    <p class="text">
      Darkness ins't anything but
      the space in between light.
    </p>
  </div>

  <div class="profile-share-horoscope profile-item">
    <h2>Share your horoscope!</h2>

    <ul class="share-links">
      <li class="share-link">
        <%= link_to(image_tag("twitter-color.png", alt: "Twitter", class: "twitter"), "#") %>
      </li>

      <li class="share-link">
        <%= link_to(image_tag("facebook-color.png", alt: "Facebook", class: "facebook"), "#") %>
      </li>

      <li class="share-link">
        <%= link_to(image_tag("google-plus-color.png", alt: "Google+", class: "google-plus"), "#") %>
      </li>
    </ul>
  </div>
</section>

<section class="actions-container small_container">
  <div class="my-credits client-action-item action-item">
    <h2>My Credits</h2>

    <div class="client-badge badge">
      $<%= @client.balance %>
    </div>

    <div class="action">
      <%= link_to "Add Credits", "#" %>
    </div>
  </div>

  <div class="my-cards-on-file client-action-item action-item">
    <h2>My Cards on File</h2>

    <div class="client-badge badge">
      <%= @client.cards.count %>
    </div>

    <div class="action highlighted">
      <a href="#" class="modal_link" data-modal-id="credit_card_modal">Edit / Adds</a>
    </div>

    <%= render "clients/modals/credit_card" %>
  </div>

  <div class="my-pin client-action-item action-item">
    <h2>My Pin</h2>

    <div class="action">
      <a href="#" class="modal_link" data-modal-id="pin_modal">Edit</a>
    </div>

    <%= render "clients/modals/pin" %>
  </div>

  <div class="my-password client-action-item action-item">
    <h2>My Password</h2>

    <div class="action">
      <a href="#">Edit</a>
    </div>
  </div>

  <div class="my-phone client-action-item action-item">
    <h2>My Phone</h2>

    <p>214-985-0457</p>

    <div class="action">
      <a href="#" class="modal_link" data-modal-id="phone_modal">Edit</a>
    </div>

    <%= render "clients/modals/phone" %>
  </div>

  <div class="my-birthday-timezone client-action-item action-item">
    <h2>My Birthday &<br/> Timezone</h2>

    <p>March 1, 1982</p>

    <div class="action">
      <a href="#" class="modal_link" data-modal-id="birthday_modal">Edit</a>
    </div>

    <%= render "clients/modals/birthday" %>
  </div>
</section>

<section class="client-history-container small_container">
  <h2 class="section-title">My Call History</h2>

  <table class="records">
    <thead>
      <tr>
        <th style="width: 130px;">Call ID</th>
        <th>Date & Time</th>
        <th style="width: 155px;">Phone Number<br/>Dialed From</th>
        <th>Reader Name</th>
        <th style="width: 130px;">Call Duration</th>
      </tr>
    </thead>

    <tbody>
      <% @processed_calls.each do |call| %>
        <tr>
          <td><%= call.id %></td>
          <td><%= call.created_at.strftime("%B, %d, %Y %I:%M%p") %></td>
          <td><%= call.from %></td>
          <td><%= call.psychic.user.full_name %></td>
          <td><%= call.duration %> Mins</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section class="client-history-container small_container">
  <h2 class="section-title">My Purchase History</h2>

  <table class="records">
    <thead>
      <tr>
        <th>Card Used</th>
        <th>Amount</th>
        <th>Date Used</th>
        <th>Confirmation #</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Amex: 8325</td>
        <td>$120.00</td>
        <td>July 23, 2013</td>
        <td>#12354432</td>
      </tr>

      <tr>
        <td>Visa: 3238</td>
        <td>$75.00</td>
        <td>February 12, 2013</td>
        <td>#12354432</td>
      </tr>

      <tr>
        <td>Visa: 4229</td>
        <td>$150.00</td>
        <td>Februart 13, 2013</td>
        <td>#12354432</td>
      </tr>

      <tr>
        <td>Amex: 1239</td>
        <td>$25.00</td>
        <td>January 27, 2013</td>
        <td>#12354432</td>
      </tr>
    </tbody>
  </table>
</section>

<div class="overlay"></div>
