<div class="row-fluid">
  <div class="span12">
    Welcome back, <%= @client.first_name %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h3>Account info</h3>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <table class="table">
      <tbody>
        <tr><td>Credit</td><td>$ 30.00</td></tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h3>Phone numbers</h3>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <table class="table">
      <thead>
        <tr>
          <th>Number</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @client.phones.each do |phone| %>
          <tr>
            <td><%= phone.formatted_number %></td>
            <td><%= phone.desc %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "Add new phone", new_clients_phones_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h3>Calls</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Call ID</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @client.calls.each do |call| %>
          <tr>
            <td><%= call.created_at %>
            <td><%= call.sid %></td>
            <td>-</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="row-fluid">
  <div class="span12">
    <h3>Preferred Psychics</h3>
  </div>
</div>
