<div id="credit_card_modal" class="modal large">
  <header>
    <h1>Edit Credit Card</h1>
  </header>

  <div class="modal-body">
    <%= form_for :credit_card do |f| %>
      <div class="row">
        <div class="field">
          <%= f.label :name, "Name on card" %>
          <%= f.text_field :name, placeholder: "John Doe" %>
        </div>

        <div class="field">
          <%= f.label :email, "Your email" %>
          <%= f.text_field :email, placeholder: "johndoe@me.com" %>
        </div>
      </div>

      <div class="row">
        <div class="field">
          <%= f.label :credit_card, "Credit Card#" %>
          <%= f.text_field :credit_card, placeholder: "1234 1324 1234 1234" %>
          <i><%= image_tag "modal/visa.png" %></i>
        </div>

        <div class="field">
          <div class="field small">
            <%= f.label :exp, "Expires" %>
            <%= f.text_field :exp, placeholder: "MM" %>
            <%= f.text_field :exp, placeholder: "YY" %>
          </div>

          <div class="field medium">
            <%= f.label :cvv, "CVV / CVC" %>
            <%= f.text_field :cvv, placeholder: "786" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <footer>
    <%= image_submit_tag "modal/save_btn.png" %>
    <%= link_to image_tag("modal/cancel_btn.png"), "#", class: "close-button" %>
  </footer>
</div>