<div id="password_modal" class="modal medium">
  <header>
    <h1>My Pin</h1>
  </header>

  <div class="modal-body">
    <%= form_for :user do |f| %>
      <div class="field reset_field">
        <%= f.label :password, "My password" %>
        <%= f.password_field :password %>
        <%= link_to image_tag("modal/reset_btn.png"), "#", class: "reset_form" %>
        <i class="border"><%= image_tag "modal/password_eye.png" %></i>
      </div>
    <% end %>
  </div>

  <footer>
    <%= image_submit_tag "modal/save_btn.png" %>
    <%= link_to image_tag("modal/cancel_btn.png"), "#", class: "close-button" %>
  </footer>
</div>