<div id="pin_modal" class="modal medium" data-pin="<%= @client.pin %>">
  <header>
    <h1>My Pin</h1>
  </header>

  <%= form_for :client, url: reset_pin_client_path, method: :patch, remote: "true", html: { class: "pin-modal-form" } do |f| %>
    <div class="modal-body">
      <div class="field full">
        <%= f.label :pin, "My pin" %>
        <%= f.text_field :pin, maxlength: 4 %>
      </div>
    </div>

    <footer>
      <%= image_submit_tag "modal/save_btn.png" %>
      <%= link_to image_tag("modal/cancel_btn.png"), "#", class: "close-button" %>
    </footer>
  <% end %>
</div>
