<div id="prices_modal" class="modal large">
  <table>
    <tr>
      <% Package.all.each do |package| %>
        <td class="package-item" data-package-id="<%= package.id %>">
          <header>
            <h1><small>$</small><%= package.price.to_i %></h1>
            <%= image_tag "modal/#{package.discount}_off.png" %>
          </header>

          <h1>
            <%= package.credits.to_i %>
            <span>CREDITS</span>
          </h1>

          <footer>
            <%= link_to image_tag("modal/checkout.png"), "#", class: "modal_link", "data-modal-id" => "select_payment_method_modal", data: { "modal-attributes" => { package: { id: package.id, price: package.price.to_i, credits: package.credits.to_i } } } %>
          </footer>
        </td>
      <% end %>
    </tr>
  </table>
</div>
