<section class="countdown">
  <div class="pair">
    <div class="digit"><%= @diff[:month][0] %></div>
    <div class="middle digit"><%= @diff[:month][1] %></div>
  </div>
  <div class="pair">
    <div class="digit"><%= @diff[:day][0] %></div>
    <div class="middle digit"><%= @diff[:day][1] %></div>
  </div>
  <div class="pair">
    <div class="digit"><%= @diff[:hour][0] %></div>
    <div class="last digit"><%= @diff[:hour][1] %></div>
  </div>

  <div class="captions">
    <div class="caption">MONTHS</div>
    <div class="caption">DAYS</div>
    <div class="last caption">HOURS</div>
  </div>
</section>

<section class="main container_12">
  <h1>Become an I Heart Psychics Advisor</h1>

  <p class="grid_6">
    Are you a gifted psychic or medium? Do you enjoy working with people, helping them overcome challenges in their lives while providing a deeper understanding of their journey here? We're looking for reputable psychics, mediums, clairvoyants, astrologers and tarot readers who can provide quality readings for our clients.
    <br><br>
    I Heart Psychics offers their readers flexible hours, competitive pay, cutting edge technology with a high standard of excellence and ethical approach to psychic readings. I Heart Psychics strives to cultivate a community of integrity, professionalism, and support for our psychics as well as our clients.
  </p>

  <p class="grid_6">
    We are interested in psychics, mediums, astrologers, and tarot readers to read for clients over the telephone for a minimum of 10 hours a week. The position will require Internet access and a telephone line with no answering service. We are currently seeking candidates that are over the age of 18. Qualified candidates must have natural ability with experience using their gift in the field, and must be capable of delivering accurate and insightful readings to our customers over the phone. If you are interested in joining the I Heart Psychics team, please apply below.
  </p>
</section>

<section class="actions">
  <%= link_to "FAQs", "#", id: "faq-button" %>
  <%= link_to "Apply Now!", new_psychic_application_path, class: "last" %>
</section>

<section class="bottom">
  <div class="container_12">
    <%= form_for @subscriber, remote: true, html: {class: "subscribe"} do |f| %>
      <div class="text">Be the first to know when we launch!</div>

      <div class="input">
        <%= f.text_field :email, placeholder: "Subscribe Now!" %>
        <%= link_to "", "#", id: "subscribe" %>
      </div>
    <% end %>

    <div class="bottom-connect">
      <h3>Connect with us!</h3>

      <ul class="bottom-connect-links">
        <li class="bottom-connect-link"><%= link_to image_tag("connect-twitter.png"), "http://www.twitter.com/iheartpsychics", target: "_twitter" %></li>
        <li class="bottom-connect-link"><%= link_to image_tag("connect-facebook.png"), "http://www.facebook.com/iheartpsychics", target: "_facebook" %></li>
        <li class="bottom-connect-link"><%= link_to image_tag("connect-google+.png"), "https://plus.google.com/b/117686678431757185332/117686678431757185332", target: "_google" %></li>
        <li class="bottom-connect-link"><%= link_to image_tag("connect-instagram.png"), "http://www.instagram.com/iheartpsychics", target: "_instagram" %></li>
        <li class="bottom-connect-link"><%= link_to image_tag("connect-linkedin.png"), "http://www.linkedin.com/company/iheartpsychics", target: "_linkedin" %></li>
      </ul>
    </div>
  </section>
</section>

<section id="confirmation-modal">
  <p align="center" class="message"></p>

  <div class="modal-actions">
    <%= link_to "Close", "#", class: "close-button" %>
  </div>
</section>

<section id="faq-modal">
  <p class="question">What can I expect after I submit my application?</p>

  <p class="answer">
    After submitting your application, our recruiting department will receive
    and review your application.  If there is interest in your background and
    experience as a candidate, you will receive an email within 2 - 3 business
    days including next steps in the interviewing process.  From there, a
    company staff member will contact you via email requesting times of
    availability for a sample reading.
  </p>

  <p class="question">
    How many sample readings does the I Heart Psychics company conduct?
  </p>

  <p class="answer">
    To gain the best feel for the Reader’s delivery, the I Heart Psychics
    company conducts three sample readings with three different team members.
    Each reading will be evaluated for quality, approach, accuracy, and
    delivery.  You will receive an email after each reading on whether you have
    been recommended to move forward in the process.
  </p>

  <p class="question">Does I Heart Psychics Conduct a Background Check?</p>

  <p class="answer">
    Yes, the I Heart Psychics company conducts a criminal background check of
    the candidates past seven years. We do not conduct a credit check.
  </p>

  <div class="modal-actions">
    <%= link_to "Close", "javascript:void(0)", class: "close-button" %>
  </div>
</section>

<div id="overlay"></div>
