<nav class="signs">
  <div class="container_12">
    <%= image_tag "signs/left_arrow.png", class: "arrow left" %>
    <ul class="first selected">
      <li class="selected">
        <%= image_tag "signs/selected/aries.png", class: :selected %>
        <%= image_tag "signs/unselected/aries.png", class: :unselected %>
        <h1>ARIES</h1>
        <time>3.21 - 4.19</time>
      </li>
      <li>
        <%= image_tag "signs/selected/taurus.png", class: :selected %>
        <%= image_tag "signs/unselected/taurus.png", class: :unselected %>
        <h1>TAURUS</h1>
        <time>4.20 - 5.20</time>
      </li>
      <li>
        <%= image_tag "signs/selected/gemini.png", class: :selected %>
        <%= image_tag "signs/unselected/gemini.png", class: :unselected %>
        <h1>GEMINI</h1>
        <time>5.21 - 6.21</time>
      </li>
      <li>
        <%= image_tag "signs/selected/cancer.png", class: :selected %>
        <%= image_tag "signs/unselected/cancer.png", class: :unselected %>
        <h1>CANCER</h1>
        <time>6.22 - 7.22</time>
      </li>
      <li>
        <%= image_tag "signs/selected/leo.png", class: :selected %>
        <%= image_tag "signs/unselected/leo.png", class: :unselected %>
        <h1>LEO</h1>
        <time>7.23 - 8.22</time>
      </li>
      <li>
        <%= image_tag "signs/selected/virgo.png", class: :selected %>
        <%= image_tag "signs/unselected/virgo.png", class: :unselected %>
        <h1>VIRGO</h1>
        <time>3.21 - 4.19</time>
      </li>
    </ul>
    <ul class="last">
      <li>
        <%= image_tag "signs/selected/libra.png", class: :selected %>
        <%= image_tag "signs/unselected/libra.png", class: :unselected %>
        <h1>LIBRA</h1>
        <time>m.dd - m.dd</time>
      </li>
      <li>
        <%= image_tag "signs/selected/scorpio.png", class: :selected %>
        <%= image_tag "signs/unselected/scorpio.png", class: :unselected %>
        <h1>SCORPIO</h1>
        <time>m.dd - m.dd</time>
      </li>
      <li>
        <%= image_tag "signs/selected/sagittarius.png", class: :selected %>
        <%= image_tag "signs/unselected/sagittarius.png", class: :unselected %>
        <h1>SAGITTARIUS</h1>
        <time>m.dd - m.dd</time>
      </li>
      <li>
        <%= image_tag "signs/selected/capricorn.png", class: :selected %>
        <%= image_tag "signs/unselected/capricorn.png", class: :unselected %>
        <h1>CAPRICCORN</h1>
        <time>m.dd - m.dd</time>
      </li>
      <li>
        <%= image_tag "signs/selected/aquarius.png", class: :selected %>
        <%= image_tag "signs/unselected/aquarius.png", class: :unselected %>
        <h1>AQUARIUS</h1>
        <time>m.dd - m.dd</time>
      </li>
      <li>
        <%= image_tag "signs/selected/pisces.png", class: :selected %>
        <%= image_tag "signs/unselected/pisces.png", class: :unselected %>
        <h1>PISCES</h1>
        <time>8.23 - 9.22</time>
      </li>
    </ul>
    <%= image_tag "signs/right_arrow.png", class: "arrow right" %>
  </div>
</nav>