<%= render "nav" %>

<section id="details" class="container_12">
  <% @horoscope.signs.each_with_index do |sign, index| %>
    <article class="sign <%= "selected" if index == 0 %>" data-sign="<%= sign.name %>">
      <div class="row">
        <article class="lucky">
          <header>
            <h1><%= sign.name %></h1>
            <time>April 20 - May 20</time>
          </header>

          <p>
            <%= sign.text %>
          </p>

          <aside class="lucky_numbers">
            <h1>Your Lucky Numbers for today are:</h1>

            <ul>
              <% [4,8,15,16,23,42].each do |number| %>
                <li><%= number %></li>
              <% end %>
            </ul>
          </aside>
        </article>

        <article class="love_scope">
          <header>
            <h1>Weekly Lovescope</h1>
            <time>Thrusday, August 01, 2013</time>
          </header>

          <p>
            Making a sacrifice is never very much fun, but today it will be easy. You will see a clear benefit to making a tiny, painless alteration to your plans. A slight change will also be called for in your romantic life when someone asks you to sacrifice something you want for the sake of your relationship. Only you will know if this is asking too much; but before you decide if this is a deal-breaker, ask yourself if they would do the same for you.
          </p>

          <aside class="lucky_numbers">
            <h1>Your Lucky Numbers for today are:</h1>

            <ul>
              <% [4,8,15,16,23,42].each do |number| %>
                <li><%= number %></li>
              <% end %>
            </ul>
          </aside>
        </article>
      </div>

      <div class="row">
        <article class="friendship">
          <header>
            <h1>Today's Friendship Compatibility</h1>
          </header>

          <%= image_tag "signs/#{@horoscope.friendship_compatibility_from.downcase}.png" %>
          <%= image_tag "signs/#{@horoscope.friendship_compatibility_to.downcase}.png" %>
        </article>

        <article class="friendship">
          <header>
            <h1>Today's Love Compatibility</h1>
          </header>

          <%= image_tag "signs/#{@horoscope.love_compatibility_from.downcase}.png" %>
          <%= image_tag "signs/#{@horoscope.love_compatibility_to.downcase}.png" %>
        </article>
      </div>
    </article>
  <% end %>
</section>