Dear <%= @client.first_name %>,

<p>
  Thank you for your recent call and for giving us the
  opportunity to serve you better.
</p>

<p>
  Below is your call summary for your latest call with
  I Heart Psychics:
</p>

<table>
  <tr><td><b>Date:</b></td><td><%= @call.date %></td></tr>
  <tr><td><b>Time:</b></td><td><%= @call.time %></td></tr>
  <tr><td><b>Psychic:</b></td><td><%= @psychic.full_name %></td></tr>
  <tr><td><b>Call Duration:</b></td><td><%= @call.duration_str %></td></tr>
  <tr><td><b>Current Balance:</b></td><td><%= @client.balance %></td></tr>
  </tr>
</table>

<p>
  Please help us by taking a few credits to tell us about your
  recent experience with I Heart Psychics.  We appreciate your
  business and want to ensure that we are constantly improving
  our service to meet your needs.

  Your unique survey is <%= link_to "here", survey_url(@call) %>.
</p>

<p>
  In return for your time and efforts, we will give you an account
  reward of 100 hearts for each completed and returned survey.
</p>

<p>
  Sincerely,<br>
  The I Heart Psychics Team
</p>
