<%= form_for([:admin, @psychic.user], :url => admin_psychic_path(@psychic), :html => { :class => 'form form-horizontal' }) do |pf| %>
  <fieldset>
    <legend>Personal Info</legend>

    <%= render 'errors', object: @psychic.user, model_name: "psychic" %>

    <div class="control-group">
      <%= pf.label :first_name, "Name", :class => 'control-label' %>
      <div class="controls">
        <%= pf.text_field :first_name, placeholder: "First name", autofocus: true, autocomplete: 'on' %>
        <%= pf.text_field :last_name, placeholder: "Last name", autocomplete: 'on' %>
      </div>
    </div>

    <%= add_text_field pf, :username %>
    <%= add_text_field pf, :email %>
    <% if @psychic.new_record? %>
      <%= add_password_field pf, :password %>
      <%= add_password_field pf, :password_confirmation %>
    <% end %>

    <%= pf.fields_for :psychic do |f| %>
      <%= add_text_field f, :phone, nil, input: { data: { mask: t('masks.phone') } } %>

      <%= add_checkbox f, :featured %>

      <legend>Profile Information</legend>

      <%= render "psychics/fields", f: f %>
    <% end %>
  </fieldset>

  <%= pf.submit "Save", class: "btn btn-primary" %>
<% end %>
