<ul class="nav">
  <li><%= link_to 'Psychics', admin_psychics_path %></li>
  <li><%= link_to 'Clients', admin_clients_path %></li>
  <li><%= link_to 'Packages', admin_packages_path %></li>
  <li><%= link_to 'CSRs', admin_customer_service_representatives_path %></li>
  <li><%= link_to 'Manager Directors', admin_manager_directors_path %></li>
  <li><%= link_to 'Website Admins', admin_website_admins_path %></li>
  <li><%= link_to 'Accountants', admin_accountants_path %></li>
  <li><%= link_to 'Scheduled Jobs', admin_schedule_jobs_path %></li>
</ul>
