<ul class="nav">
  <li><%= link_to 'Dashboard', dashboard_path %></li>
  <li><%= link_to 'Psychics', admin_psychics_path %></li>
  <li><%= link_to 'Clients', admin_clients_path %></li>
  <li><%= link_to 'Packages', admin_packages_path %></li>
  <li><%= link_to 'Surveys', admin_surveys_path %></li>
  <li><%= link_to 'FAQs', admin_faqs_path %></li>
  <li><%= link_to 'Horoscopes', '#' %></li>
  <li><%= link_to 'Newsletters', '#' %></li>
</ul>
