<ul class="nav">
  <%= dashboard_link %>
  <%= admin_link 'Psychics', admin_psychics_path %>
  <%= admin_link 'Clients', admin_clients_path %>
  <%= admin_link 'Packages', admin_packages_path %>
  <%= admin_link 'Surveys', admin_surveys_path %>
  <%= admin_link 'FAQs', admin_faqs_path %>
  <%= admin_link 'Horoscopes', admin_horoscopes_path %>
  <!-- <li><%= link_to 'Newsletters', '#' %></li> -->
</ul>
