<!DOCTYPE html>
<html>
<head>
  <title>IHeartPsychics</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "splash", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>" data-page="<%= current_page %>">

  <header>
    <div class="container container_12">
      <a href="/"><%= image_tag "logo.png" %></a>
    </div>
  </header>

  <section class="countdown">
    <div class="pair">
      <div class="digit"><%= @diff[:month][0] %></div>
      <div class="middle digit"><%= @diff[:month][1] %></div>
    </div>
    <div class="pair">
      <div class="digit"><%= @diff[:day][0] %></div>
      <div class="middle digit"><%= @diff[:day][1] %></div>
    </div>
    <div class="pair">
      <div class="digit"><%= @diff[:hour][0] %></div>
      <div class="last digit"><%= @diff[:hour][1] %></div>
    </div>

    <div class="captions">
      <div class="caption">MONTHS</div>
      <div class="caption">DAYS</div>
      <div class="last caption">HOURS</div>
    </div>
  </section>

  <section class="main container_12">
    <h1>Become an I Heart Psychics Advisor</h1>

    <p class="grid_6">
      Are you a gifted psychic or medium? Do you enjoy working with people, helping them overcome challenges in their lives while providing a deeper understanding of their journey here? We're looking for reputable psychics, mediums, clairvoyants, astrologers and tarot readers who can provide quality readings for our clients.
      <br><br>
      I Heart Psychics offers their readers flexible hours, competitive pay, cutting edge technology with a high standard of excellence and ethical approach to psychic readings. I Heart Psychics strives to cultivate a community of integrity, professionalism, and support for our psychics as well as our clients.
    </p>

    <p class="grid_6">
      We are interested in psychics, mediums, astrologers, and tarot readers to read for clients over the telephone for a minimum of 20 hours per week. The position will require Internet access and a telephone line with no answering service. We are currently seeking candidates that are over the age of 18. Qualified candidates must have natural ability with experience using their gift in the field, and must be capable of delivering accurate and insightful readings to our customers over the phone. If you are interested in a potential opportunity at I Heart Psychics please apply at <a href="http://www.iheartpsychics.co">www.iheartpsychics.co</a>.
    </p>
  </section>

  <section class="actions">
    <a href="#">FAQs</a>
    <a href="#" class="last">Apply Now!</a>
  </section>

  <section class="subscribe">
    <div class="text">Be the first to know when we launch</div>

    <input type="text" placeholder="Subscribe Now!">
  </section>

  <footer>
    <div class="container_12">
      &copy; Copyright I Heart Psychics Co. 2013
    </div>
  </footer>

</body>
